aiosqlite==0.17.0
bcrypt==4.0.1
databases==0.8.0
fastapi==0.109.2
psycopg2-binary==2.9.9
pydantic==2.6.1
pydantic_core==2.16.2
pypika-tortoise==0.1.6
pytz==2024.1
SQLAlchemy==1.4.51
starlette==0.36.3
tortoise==0.1.1
tortoise-orm==0.20.0
typing_extensions==4.9.0
uvicorn==0.27.1
