{% extends 'base.html' %}

{% block main %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Assign Project</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
      </div>
    </div>
    <form method="post" action="{{url_for('create_user_project', user_id=user_id)}}" style="width: 1000px;">
        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Select Project
            </button>
            <ul class="dropdown-menu">
            {% for project in projects %}
                <li value={{project.project_id}}><a class="dropdown-item" href="#" name="project_id">{{project.project_name}}</a></li>
                <input type="hidden" name="project_id" value="{{ project.project_id }}">
            {% endfor %}
            </ul>
          </div>
    <button class="btn btn-primary" type="submit" style="width: 100px;">Submit</button>
    </form>
</main>
{% endblock main %}

{% block javascript %}
<script src="{{ url_for('static', path='assets/js/bootstrap.bundle.js')}}"></script>
{% endblock javascript %}
