{% extends 'base.html' %}

{% block main %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Task</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
      </div>
    </div>
    <form id="edit-form" style="width: 1000px;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Name" aria-label="task_name" id="task_name" value={{task.task_name}} name="task_name" aria-describedby="basic-addon1" required>
        </div>
        <div class="input-group mb-3">
            <textarea class="form-control" aria-label="description" id="task_description" placeholder="Description" value={{task.task_description}} name="task_description" required></textarea>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Status" placeholder="Task Status" value={{task_status}} name="task_status" required>
        </div>
        <button class="btn btn-primary" type="submit" style="width: 100px;">Submit</button>
    </form>
</main>
{% endblock main %}
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#task_name").val("{{ task.task_name }}");
    $("#task_description").val("{{ task.task_description }}");
})
const editForm = document.getElementById('edit-form');
editForm.addEventListener('submit', (event) => {
    event.preventDefault();
    const formData = new FormData(editForm);
    const task_name = formData.get("task_name");
    const task_description = formData.get("task_description");
    const task_status = formData.get("task_status");
    const user_id = "{{ user_id }}"
    const task_id = "{{ task.task_id }}"
    try {
        const response =  fetch("/tasks/" + user_id + "/" + task_id + "/", {
            method: "PUT",
            body: new URLSearchParams({
                'task_name': task_name,
                'task_description': task_description,
                'task_status': task_status
            })
        });

    }
    catch(error) {
        console.error("There was a problem with the fetch operation:", error);
    };
    let userid = parseInt("{{ user_id }}");
    if (!isNaN(userid)) {
        console.log("hete", userid, typeof userid);
        window.location.href = "/tasks/home/" + userid ;
    } else {
        console.error("userid is not a valid integer:", userid);
    }
});
</script>
{% endblock javascript %}
