{% extends 'base.html' %}
{% block main %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Task Management Portal</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>
      {% if message %}
      sdfdjsfbj
      <div aria-live="assertive" aria-atomic="true" class="bg-body-secondary position-relative bd-example-toasts rounded-3" 
      style="width:100px;height:100px;"
      data-bs-autohide="false">
        <div class="toast-container p-3" id="toastPlacement">
          <div class="toast">
            <div class="toast-header">
              <strong class="me-auto">Success</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              {{message}}
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        <div class="card" style="width: 18rem;height: 100px;margin-right:50px;">
          <div class="card-body">
            <h5 class="card-title"><a href="{{ url_for('get_users') }}" class="card-link">Users</a></h5>
          </div>
        </div>
        <div class="card" style="width: 18rem;height: 100px;margin-right:50px;">
          <div class="card-body">
            <h5 class="card-title"><a href="{{ url_for('render_role_template') }}" class="card-link">Role</a></h5>
          </div>
        </div>
        <div class="card" style="width: 18rem;height: 100px;margin-right:50px;">
          <div class="card-body">
            <h5 class="card-title"><a href="{{ url_for('render_technology_template') }}" class="card-link">Technology</a></h5>
          </div>
        </div>
        <div class="card" style="width: 18rem;height: 100px;margin-right:50px;">
          <div class="card-body">
            <h5 class="card-title"><a href="{{ url_for('render_project_template') }}" class="card-link">Projects</a></h5>
          </div>
        </div>
        <div class="card" style="width: 18rem;height: 100px;margin-right:50px;">
          <div class="card-body">
            <h5 class="card-title"><a href="" class="card-link">Tasks</a></h5>
          </div>
        </div>
      </div>
    </main>
{% endblock main %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', path='assets/js/bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript">
const toastLiveExample = document.getElementById('toastPlacement')
console.log('dfsdfsdffsf', toastLiveExample)
const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
toastBootstrap.show()
</script>
{% endblock javascript %}

