{% extends 'base.html' %}
{% block main %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Users</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>

  <table class="table" style="width: 1000px;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>

        </tr>
      </thead>
      <tbody>
          {% for user in users %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td><a href="{{ url_for('get_user_details', user_id=user.id) }}"><i class="bi bi-eye"></i>
          <a href="{{ url_for('get_user_projects', user_id=user.id) }}"><i class="bi bi-clipboard2-check"></i>
          <a href="{{ url_for('render_assign_project_template', user_id=user.id) }}"><i class="bi bi-layout-text-sidebar-reverse"></i></i></td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</main>

{% endblock main %}
