{% extends 'base.html' %}

{% block main %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
            const token = localStorage.getItem("accessToken");
            if (!token) {
                alert("No token found, please log in first!");
                window.location.href = "/users/login/";
            }
        });
</script>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="width: 1000px;">
    <h1 class="h2">Tasks</h1>
    <a class="margin-left: auto;" href="{{ url_for('render_task_template', user_id=user_id) }}">Add task</a>
  </div>

  <table class="table" style="width: 1000px;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>

        </tr>
      </thead>
      <tbody>
          {% for task in tasks %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ task.task_name }}</td>
          <td>{{ task.task_description }}</td>
          <td>{{ task.status_name }}</td>
          <td><a href="{{ url_for('get_task_details', user_id=user_id, task_id=task.task_id) }}"><i class="bi bi-eye"></i></a>
          <a href="{{ url_for('render_task_update_template', user_id=user_id, task_id=task.task_id) }}"><i class="bi bi-pencil"></i></a>
          <a href="{{ url_for('delete_task', user_id=user_id, task_id=task.task_id) }}"><i class="bi bi-trash"></i></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</main>

{% endblock main %}
{% block javascript %}
{% endblock javascript %}
