{% extends 'base.html' %}

{% block main %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Tasks</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>
  <table class="table" style="width: 1000px;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>

        </tr>
      </thead>
      <tbody>
          {% for task in tasks %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ task.task_name }}</td>
          <td>{{ task.task_description }}</td>
          <td>{{ task.status_name }}</td>
          <td><a href="{{ url_for('get_task_details', task_id=task.task_id) }}"><i class="bi bi-eye"></i></a></td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
</main>

{% endblock main %}
{% block javascript %}
{% endblock javascript %}
