{% extends 'base.html' %}

{% block main %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="width: 1000px;">
    <h1 class="h2">Task</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>
  <table class="table" style="width: 1000px;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">#</th>
          <td>{{ task_detail.task_name }}</td>
          <td>{{ task_detail.task_description }}</td>
          <td>{{ task_detail.status_name }}</td>
        </tr>
      </tbody>
    </table>
</main>

{% endblock main %}
{% block javascript %}
{% endblock javascript %}
